.vscode/
build/
dist/
*.egg-info/
__pycache__
.ipynb_checkpoints/
.DS_Store
**.pyc
*.png
*.txt
**/outputs/
**/wandb/
**/exp/
**/exp_local/
data/
eval/
assets/
**.pth
**.npz
core
**.log
*.jsonl
prot_lig_sedd/
core.2947525
model/.transformer.py.swp
plinder/
plinder_OLD/
run_train_smiles.err
train_smiles.err
test_smiles_single.err
model/_transformer.py
plinder_10k/
